*.pyc
*.swp
__pycache__
src/*.egg-info
*.po~
*.mo

version
.coverage
.installed.cfg
.tox
bin
build
coverage
coverage.xml
develop-eggs
eggs
parts
var
ve

dev.cfg
tags
.tags
ID
TAGS
tmp

.directory
.DS_Store
ghostdriver.log
.mr.developer.cfg
dep/
dep/*
